* {
  font-family: "Open Sans", sans-serif;
}

button,
a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: Raleway, sans-serif;
}

.blue-bkgd {
  background-color: #0b2834;
}

.white-txt {
  color: white;
}

header {
  margin-bottom: 4rem;
}

nav {
  width: 95%;
}

.logo-img {
  width: 150px;
  height: 50px;
}

.logo-text {
  margin-left: 2rem;
  font-size: 2.25rem;
}

.nav-link {
  margin-left: 2rem;
  font-size: 1.25rem;
}

.home-btn {
  padding: 0.8rem 2.5rem;
  border-radius: 6px;
}

.carousel-img-container {
  width: 90%;
}

.fas {
  font-size: 2rem;
  cursor: pointer;
}

.right-arrow::before {
  display: flex;
  justify-content: flex-end;
}

.dot {
  height: 1rem;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  margin: 1.4rem 0.4rem;
}

.dot.selected {
  background-color: black;
}
