* {
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
}

.hidden {
  display: none;
}

button,
a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h2 a {
  font-family: Raleway, sans-serif;
}

.blue-bkgd {
  background-color: #0b2834;
}

.white-txt {
  color: white;
}

nav {
  width: 95%;
}

.logo-img {
  width: 150px;
  height: 50px;
}

.logo-text {
  margin-left: 2rem;
  font-size: 2.25rem;
  cursor: pointer;
}

.nav-link {
  margin-left: 2rem;
  font-size: 1.25rem;
}

.home-btn {
  padding: 0.8rem 2.5rem;
  border-radius: 6px;
}

.dropdown {
  overflow: hidden;
  float: left;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #133746;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.calendar-banner {
  color: white;
  height: 3rem;
  background-color: #42636e;
}

.calendar-result-link {
  color: white;
  text-decoration: underline;
}

.calendar-result-link:hover {
  color: red;
}

.circuit-info-container {
  justify-content: flex-start;
  margin-left: 5rem;
}

.circuit-info h1 {
  font-size: 2.5rem;
}

.circuit-info p {
  font-size: 1.2rem;
}

.wiki-btn {
  display: inline-block;
  margin-top: 1.5rem;
}

.carousel-img-container {
  width: 95%;
}

.ph-circle,
.ph-circle-fill {
  cursor: pointer;
  margin-left: 2px;
  margin-top: 1.5rem;
}

.ph-arrow-circle-right,
.ph-arrow-circle-left {
  cursor: pointer;
  font-size: 2.4rem;
  margin: 0 1rem;
}

.carousel-container {
  padding: 5rem 0;
  background-color: #e5e5e5;
}
.drivers-standings-container,
.constructors-standings-container {
  background-color: #f2f2f2;
}

.standings-img-container {
  height: 500px;
}

table {
  border: 1px solid #f2f2f2;
}

.table-homepage {
  text-align: center;
  border-collapse: collapse;
  width: 90%;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #f9f9fa;
}

.thead-homepage tr th {
  font-family: Raleway;
  color: white;
  background-color: #0b2834;
}

tr {
  height: 3rem;
}

.standings-btn {
  margin: 1rem 0;
  border: 2px solid black;
  color: black;
  border-radius: 6px;
  padding: 1rem 1.8rem;
}

/* Full Standings */

.full-standings-container {
  background-color: #f2f2f2;
}

.select-standing-row {
  background-color: #42636e;
  color: white;
  height: 3rem;
  margin-bottom: 2rem;
}

.ph-flag-checkered-fill {
  font-size: 1.5rem;
  padding: 0 5.5rem;
}

.table-standings {
  width: 90%;
  border-collapse: collapse;
}

.table-standings th,
.table-full-calendar th {
  text-align: start;
}

.table-standings td {
  height: 3rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #dee2e8;
}

.pilot-icon,
.pilot-nationality-icon,
.country-icon {
  width: 3rem;
  vertical-align: middle;
}

.pilot-nationality-icon,
.country-icon {
  width: 40px;
  height: 30px;
  border: 0.5px solid black;
}

.constructor-logo-img {
  vertical-align: middle;
  width: 60px;
  height: 40px;
}

.thead-full-driver-standings tr th,
.thead-full-constructor-standings tr th,
.thead-full-calendar tr th,
.modal-table tr th {
  font-family: Raleway, sans-serif;
  font-size: 1.2rem;
  background-color: #e5e5e5;
}

.car-icon {
  width: 15rem;
  vertical-align: middle;
}

/* Calendar */

.calendar-content {
  width: 90%;
}

.table-full-calendar {
  width: 100%;
  border-collapse: collapse;
}

.select-year-calendar {
  gap: 2rem;
}

.select-year-calendar i {
  cursor: pointer;
}
.select-year-calendar i {
  font-size: 1.5rem;
}

.tbody-full-calendar tr:hover {
  background-color: #fcefa5;
  cursor: pointer;
}

.tbody-full-calendar tr:active {
  box-shadow: 2px 0px 20px 3px rgba(0, 0, 0, 0.14);
}

.overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: fixed;
  width: 70%;
  height: 50%;
  overflow: auto;
  left: 50%;
  top: 50%;
  background-color: white;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.modal-header {
  color: white;
  padding: 0.3rem 0;
}

.modal-header-txt {
  margin: 0 1rem;
  text-align: center;
}

.close-modal {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.close-modal:hover,
.close-modal:focus {
  color: lightgray;
  cursor: pointer;
}

.modal-table {
  border-collapse: collapse;
  overflow: scroll;
  text-align: center;
  width: 100%;
}

.modal-table tbody {
  height: 300px;
  overflow: scroll;
}

/* Media Queries*/

@media (max-width: 768px) {
  body {
    width: 100%;
  }

  .nav-links {
    margin: auto;
  }

  .nav-logo img {
    display: none;
  }

  .nav-link {
    font-size: 1rem;
  }

  .select-standing-row h2 {
    font-size: 1rem;
  }

  .logo-text {
    font-size: 1.2rem;
    margin-left: 0;
  }

  .carousel-container {
    flex-direction: column;
    padding: 1rem 0;
    text-align: center;
  }
  .circuit-info-container,
  .carousel-cont-right {
    margin-top: 2.5rem;
    width: 100%;
  }
  .standings-img-container {
    display: none;
  }
  .drivers-standings-container,
  .constructors-standings-container,
  .full-standings-container {
    width: 100%;
  }

  .full-standings-container img {
    display: none;
  }

  .full-standings-container table {
    width: 100%;
  }

  .constructor-car {
    display: none;
  }

  .full-standings-nationality {
    display: none;
  }

  .calendar-content {
    width: 100%;
  }

  .calendar-circuit-name {
    display: none;
  }
  .calendar-country {
    display: none;
  }
}
